h1{
  font-size: 50px;
  color:orange;
  font-family:monospace;
  text-align: center;
}
body{
  background-color: #FAF6B6;
}
p{
  font-size: 20px;
  color: black;
  text-align: center;
  font-family: monospace;
}
img{
  align-content: center;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
div.header img{
  width:30px;
  height:30px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  padding-bottom:0px;
}
